body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color:rgb(255, 255, 255);
  background: linear-gradient(to right, rgb(87, 82, 82), rgb(41,46,73));

}